# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Datos crudos (grandes, se regeneran con generar_datos_sinteticos.py)
data/raw/*.csv

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
